$container-width: 1160px;
$color-primary: #333b41;
$color-secondary: #f9804b;
$color-black: black;
$color-white: white;
$color-yellow: #FFEE2E;
$color-gray: #767474;
$color-gray-light: #F1F3F2;
$color-green: #4B9200;
$color-orange: #FE9013;

//fonts:
$roboto: "Roboto", sans-serif;