.button {
    display: block;
    color: $color-white;
    padding: 16px 0 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    width: 298px;
    background: linear-gradient(113.96deg, $color-secondary 1.49%, #FE9013 101.44%);
    &_pill {
        border-radius: 25px;
    }

    &_rounded {
        border-radius: 5px;
    }
    &:hover {
        background: #d77302;
    }

    &:active {
        background-color: rgb(54, 147, 0);
    }
}

.animal-card__button {
    position: absolute;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    top: calc(50% - 42px);

    &:before{
        content: ' ';
        top: calc(50% - 5px);
        left: calc(50% - 8px);
        position: absolute;
        width: 16px;
        height: 10px;
        background-image: url('../../assets/icons/button\ arrow.svg');
        background-repeat: no-repeat;
    }
    &:last-child {
        rotate: 180deg;
    }
    &-left {
        left: -82px;

        @media (max-width: 1440px) {
            left: 35%;
        }

    }

    &-right {
        right: -82px;

        @media (max-width: 1440px) {
            right: 35%;
        }
    }

    &:hover {
        background: #d77302;
    }

    &:active {
        background-color: rgb(54, 147, 0);
    }

    @include responsive(1439) {
        top: calc(50% + 15px);
    }
}

.footer__submit-btn {
    color: $color-green;
    padding: 10px 39px 10px 39px;
    background: $color-gray-light;
    border: 1px solid $color-green;
    border-radius: 5px;
}

.radio-buttons {
    @include flex(center, center);
    gap: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $color-primary;
    padding-top: 25px;
    position: relative;
   
    input[type=radio] {
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        outline: 1px solid $color-secondary;
        background-color: transparent;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid #f9804b;
        margin-right: 10px;
    }

    input[type=radio]:checked {
        background: $color-secondary;
        background-clip: content-box;
    }

    label {
        @include flex(center, center);
    }
}