.nav-list {
    @include flex;
    gap: 58px;
    font-weight: 500;
    font-size: 16px;

    @include responsive (sm-desktop) {
        gap: 48px;
    }

    @include responsive (999) {
        gap: 20px;
    }

    
    &__item {
        .active {
            color: $color-secondary;
            pointer-events: none;
        }
        :hover{
            color: $color-secondary;
        }
    }
}

.burger-nav {
    margin-top: 30px;
    
    &__list {
        @include flex(flex-start);
        flex-direction: column;    
        gap: 15px;
    }

    &__item {
        font-size: 16px;
        line-height: 140%;
        color: $color-primary;
    }
}


