.nav-list {
    @include flex;
    gap: 58px;
    font-weight: 500;
    font-size: 16px;

    
    &__item {
        .active {
            color: $color-secondary;
            pointer-events: none;
        }
        :hover{
            color: $color-secondary;
        }
    }
    
    
    
}



